html {
  font-size: 100%;
  box-sizing: border-box;
}

*,*::after,*::before{
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.3;
  font-size: 0.875rem;
  font-family: 'Public Sans', sans-serif;
  color: hsl(233, 8%, 62%);
  font-Weight:300;
  overflow-x: hidden;
}

header{
  max-width: 69.375rem;

  position: relative;
  margin:0 auto;
  z-index: 5;
}

a,a:visited,a:active {
  text-decoration: none;
}



.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:1.0625rem 1.5rem ;
}

.logo img{
  width: 8.8125rem;
  height: 1.375rem;
  /* padding-top:10px; */
}


span{
background-color: hsl(233, 8%, 62%);
width: 26px;
height: 2px;
display: block;
transform-origin: 3px 1px;
transition: all 300ms ease-in-out;
}

span:not(:last-child) {
  margin-bottom: 5px;
}

.open span:first-child{
  transform: rotate(45deg);
}

.open span:nth-child(2){
  opacity: 0;
}

.open span:last-child{
  transform: rotate(-45deg);

}



/* overlay animation */

.links a {
  font-size: 0.875rem;
  color: hsl(233, 8%, 62%);
  position: relative;
  transition: color 200ms ease-in-out;

}


.links a:hover::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom:-32px;
  left:0;
  background: linear-gradient(to left,hsl(192, 70%, 51%),hsl(136, 65%, 51%));
  transition: opacity 300ms ease-in-out;
  opacity: 1;
}


.links a:not(:last-child){
  margin-right:2rem;

}

.links a:active,a:hover{
  border:none;
  color: hsl(233, 26%, 24%);
  /* border-bottom:5px solid; */
  /* border-color: linear-gradient(to left,hsl(192, 70%, 51%),hsl(136, 65%, 51%)) */
}




.button {
  padding:0.875rem 2.1875rem;
  border-radius: 50px;
  cursor: pointer;
  background:linear-gradient(to left,hsl(192, 70%, 51%),hsl(136, 65%, 51%));
  color: #ffffff;
  font-Weight:400;
  border: 0;
  transition: opacity 200ms ease-in-out;
  display: inline-block;
}

.button:hover{
  opacity: 0.75;
  color: #ffffff;

}





.overlay {
  opacity: 0;
  position: fixed;
  top: 60.3333px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-image: linear-gradient(hsl(233, 26%, 24%),transparent);
  transition: animation 200ms;
}


.menu {
  position: absolute;
  background: #ffffff;
  padding: 1.625rem 1.5rem;
  /* margin: 0px 1.5rem; */
  width: calc(100% - 3rem);
  margin-top:1.5rem;
  left: 50%;
  border-radius: 5px;
  transform: translateX(-50%);
}
.menu a{
  display: block;
  color: hsl(233, 26%, 24%);
  padding:0.625rem;
  text-align:center;
}


.fade-in {
  animation: fade-in 200ms ease-in-out forwards;
}

.fade-out {
  animation: fade-out 200ms ease-in-out forwards;
}

.visibility {
  visibility: hidden;
}
.overflow {
  overflow: hidden;
}


@keyframes fade-in {
  from{
    visibility: hidden;
    opacity: 0;
  }
1%{
  visibility: visible;
  opacity: 0;
}
  to{
    visibility: visible;
    opacity: 1;

  }
}

@keyframes fade-out {
  from{
    visibility: visible;

    opacity: 1;
  }

  to{
    visibility: hidden;

    opacity: 0;

  }
}


/* for mobile */

.first{
  /* display: flex; */
  /* max-width: 69.375rem;
  margin: 0 auto; */
}
.background-img {
  position: relative;
  background-image: url("images/bg-intro-mobile.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 17.5rem;
  overflow: hidden;
  /* display: flex;
  justify-content: center; */
}


.background-img::before{
  content: "";
  position: absolute;
  height: 100%;
  width : 100%;
  background-image: url("images/image-mockups.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 90%;
}


h1,h2,h3{
  margin-top: 0;
  font-weight: 300px;
  /* font-size: 2.31rem; */
  line-height: 1.15;
}
h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
  color:
  /* font-weight: 300: */
}

.hero_text {
  max-width: 69.375rem;
  margin:0 auto;
  text-align: center;
  padding-left: 1.5rem;
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
  padding-right: 1.5rem;
}



p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

.hero_text h1{
  color: hsl(233, 26%, 24%);
  margin-bottom: 1.5rem;
  font-weight: 300px;
  font-size: 2.31rem;
  line-height: 1.15;
}

.hero_text p{
  line-height: 1.15;
  margin-bottom: 2.25rem;


  /* padding: 10px; */
  /* margin: 10px 10px 35px; */
}





@media(min-width:40.625em){
  /* .links,nav .button{
  display: none;
  } */

  /* .background-img{
    width: 100vw;
    overflow: unset;
  } */

  .background-img::before{
    content: "";
    z-index: 2;
    position: absolute;
    height: 122%;
    width: 100%;
    background-image: url("images/image-mockups.png");
    background-repeat: no-repeat;
    background-position: left 170%;
    background-size: 40%;
    left: 30%;
    /* top: -15%; */
  }
}

@media(max-width:56.1875em){
.links,nav .button{
display: none;
}

.background-img{
  /* overflow: visible; */
}

}


@media(min-width:56.25em){
.hamberg{
display: none;
}
.container {
  display: flex;
  align-items: center;
  max-width: 69.375rem;
  margin: 0 auto;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}


.hero_text {
  order: 1;
  flex: 2;
  text-align: left;

}
.hero_text h1 {
  font-size: 3.25rem;
}

.hero_text p {
  font-size: 1.125rem;
}

.background-img {
  order: 2;
  flex: 3;
  height: 41rem;
  background-image: none;
  position: relative;
  overflow: unset;
  /* background-position: left-center; */
}



.background-img::after{
  /* z-index: 2; */
  content: "";
  position: absolute;
  height: 100%;
  width : 150%;
  background-repeat: no-repeat;
  background-position: 0% 83%;
  background-size: 122%;
  background-image: url("images/bg-intro-desktop.svg");

}


/* hide for mobile */

.background-img::before{
  content: "";
  z-index: 2;
  position: absolute;
  height: 122%;
  width: 128%;
  background-image: url("images/image-mockups.png");
  background-repeat: no-repeat;
  background-position: left 107%;
  background-size: 91%;
  left: 17%;
}

.hero_text {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
}


@media (min-width:40em){

  .grid {
    display: flex;
    /* border: 1px solid black; */
    flex-wrap: wrap;
  }
  .items {
    flex: 1 0 50%;

  }


}



.feature {
  background: hsl(0, 0%, 98%);
}

.feature_content {
  padding: 4.35rem 1.5rem;
  text-align: center;
  max-width: 69.375rem;
  margin: 0 auto;
}

.items {
  padding:0.9375rem;
}

.items_icon {
  margin-bottom: 1.875rem;
}

.items_title {
  font-size: 1.25rem;
  font-weight: 300px;
  line-height: 1.15;
  margin-bottom: 1rem;
  color: hsl(233, 26%, 24%)
}

.items_description {
  font-size: 0.875rem;
  line-height: 1.5;

}

@media (min-width:56.25em){
  .grid {
    display: flex;
    /* border: 1px solid black; */
    flex-wrap: wrap;
  }
  .items {
    flex: 1;

  }

  h2 {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;

  }

  .feature_content {
    padding: 6rem 1.5rem;
    max-width: 69.375rem;
    text-align: left;

    margin: 0 auto;
  }

  .feature_intro{
    width: 60%;
    margin-bottom: 3.75rem;
  }

  .items_icon {
    margin-bottom: 2.75rem;

  }


  .items_title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;

  }


}



/* articles section */

a:hover {
  text-decoration: none;
}
.articles {
  background: hsl(0, 0%, 98%);
}

.articles_content {
  padding: 4.35rem 1.5rem;
  text-align: center;
  max-width: 69.375rem;
  margin: 0 auto;
  color: hsl(233, 26%, 24%);

}


@media (min-width:56.25em) {
  .articles_content{
    text-align: left;
  }
}


.articles_grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.875rem;
}

@media (min-width:40em) {
  .articles_grid {
    grid-template-columns: repeat(2,1fr);
  }
}

@media (min-width:56.25em) {
  .articles_grid {
    grid-template-columns: repeat(4,1fr);
  }
}

.articles_item {
  border-radius:.3125rem;
  overflow: hidden;
  color:  hsl(233, 8%, 62%);
  background: #ffffff;
  box-shadow: 0px 3px 12px rgba(0,0,0,0.15);
  transition: all 150ms ease-in-out;
}

.articles_item:hover {
  transform: scale(1.05);
  color: hsl(233, 8%, 62%);
}

.articles_text {
  background: #ffffff;
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
}

@media (min-width:40em) {
  .articles_text {
    padding: 1.875rem 1.5625rem;
  }
}


.articles_image {

    height: 12.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-clip:  */
}

.articles_text {

}


.articles_author {
  font-size:0.625rem;
  margin-bottom: 0.75rem;
}

.articles_title {
  font-size:1.0625rem;
  color:hsl(233, 26%, 24%);
  margin-bottom: 0.8rem;
  line-height: 1.2;


}

.articles_description {
  font-size:0.8125rem;

}
